Repository abroad1/HealthIQ-AI-v5: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-first-enforcement, test-ledger-update, run-affected-tests

test-first-enforcement:
  name: Test-First Development Enforcement
  entry: scripts/hooks/test-first-check.sh
  language: script

test-ledger-update:
  name: TEST_LEDGER.md Update Check
  entry: scripts/hooks/test-ledger-check.sh
  language: script

run-affected-tests:
  name: Run Tests for Changed Files
  entry: scripts/hooks/run-affected-tests.sh
  language: script
  pass_filenames: true

chore(automation-bus): OPS-S1A bus artifacts and OPS-S1 preflight investigation
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
  docs/investigations/OPS_S1_PREFLIGHT.md
Due: none

feat(frontend): OPS-S1A UK B2C trust baseline and legal surfaces
  frontend/app/(auth)/login/page.tsx
  frontend/app/(auth)/register/page.tsx
  frontend/app/components/layout/Footer.tsx
  frontend/app/contact/page.tsx
  frontend/app/lib/publicContact.ts
  frontend/app/page.tsx
  frontend/app/privacy/page.tsx
  frontend/app/terms/page.tsx
  frontend/tests/integration/ops-s1a-trust-baseline.test.ts
Due: test-first-enforcement, test-ledger-update, run-affected-tests

chore(automation-bus): OPS-S1B prompt and hardening for operational evidence sprint
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
Due: none

docs(ops): OPS-S1B operational evidence, compliance artefacts, and Jest regression
  docs/compliance/DATA_FLOW_LAUNCH_PRODUCT_PHASE1.md
  docs/compliance/PRIVACY_RISK_REVIEW_PHASE1_EQUIVALENT.md
  docs/compliance/README.md
  docs/ops/OPEN_ITEMS_AND_PHASE1_BOUNDARIES.md
  docs/ops/OPERATIONAL_CONTROLS_BASELINE_PHASE1.md
  docs/ops/README.md
  docs/ops/UK_HOSTING_AND_RESIDENCY_PHASE1.md
  docs/ops/VENDOR_SUBPROCESSOR_INVENTORY_PHASE1.md
  docs/ops/WEDGE_METRICS_GOVERNANCE_NOTE_PHASE1.md
  frontend/tests/integration/ops-s1b-operational-artifacts.test.ts
Due: run-affected-tests

chore(automation-bus): WEDGE-METRICS-A prompt, hardening, and metrics preflight
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
  docs/investigations/WEDGE_METRICS_PREFLIGHT.md
Due: none

docs(product): WEDGE-METRICS-A Phase 1 event contract, manifest, and validation tests
  docs/product/README.md
  docs/product/WEDGE_EVENT_CONTRACT_AND_GOVERNANCE_PHASE1.md
  docs/product/wedge_events_phase1.manifest.json
  frontend/tests/integration/wedge-metrics-a-event-contract.test.ts
Due: run-affected-tests

chore(automation-bus): WEDGE-METRICS-B prompt and hardening
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
Due: none

feat(wedge-metrics): Phase 1 first-party wedge events (WEDGE-METRICS-B)
  backend/app/main.py
  backend/app/routes/wedge_events.py
  backend/tests/unit/test_wedge_events_api.py
  docs/product/WEDGE_EVENT_CONTRACT_AND_GOVERNANCE_PHASE1.md
  frontend/app/(app)/analysis/[id]/page.tsx
  frontend/app/(app)/results/page.tsx
  frontend/app/(app)/upload/page.tsx
  frontend/app/lib/api.ts
  frontend/app/lib/wedgeAnalytics.ts
  frontend/app/state/analysisStore.ts
  frontend/app/state/authStore.ts
  frontend/tests/integration/wedge-metrics-b-instrumentation.test.ts
Due: test-first-enforcement, test-ledger-update, run-affected-tests

chore(dev): env examples, dependencies, Alembic, and local run docs
  backend/README.md
  backend/env.example
  backend/migrations/env.py
  backend/migrations/versions/13903c3b96c5_add_rls_policies_for_gdpr_compliance.py
  backend/migrations/versions/add_derived_markers_column.py
  backend/migrations/versions/add_replay_manifest_column.py
  backend/pyproject.toml
  backend/requirements.txt
  docs/local-development.md
  frontend/env.local.example
  requirements.txt
Due: test-first-enforcement, test-ledger-update, run-affected-tests

fix(auth): load backend .env and NEXT_PUBLIC Supabase fallbacks for anon client
  backend/core/supabase_anon.py
Due: test-first-enforcement, test-ledger-update, run-affected-tests

fix(auth): map all GoTrue AuthErrors on register/login to HTTP errors
  backend/app/routes/auth.py
Due: test-first-enforcement, test-ledger-update, run-affected-tests

fix(fe): resolve analysis API URLs using origin + /api (matches NEXT_PUBLIC_API_BASE)
  frontend/app/services/analysis.ts
  frontend/tests/services/analysis.test.ts
Due: test-first-enforcement, test-ledger-update, run-affected-tests

checkpoint(launch): Phase 1 UK B2C local baseline — analysis API base alias for SSE
  frontend/app/services/analysis.ts
Due: test-first-enforcement, test-ledger-update, run-affected-tests

feat(KB-SQ1): load questionnaire from GET /api/questionnaire/schema
  frontend/app/components/forms/QuestionnaireForm.tsx
  frontend/app/lib/questionnaireSchema.ts
  frontend/tests/lib/questionnaireSchema.test.ts
Due: test-first-enforcement, test-ledger-update, run-affected-tests

chore(automation-bus): KB-SQ1 prompt and Claude hardening for kernel lifecycle
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
Due: none

chore(automation_bus): KB-HBA1C-GOV1 prompt and hardening snapshot
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
Due: none

feat(KB-HBA1C-GOV1): HbA1c mmol/mol to % and Layer B dual-id arbitration
  backend/app/routes/analysis.py
  backend/core/canonical/hba1c_layer_b_arbitration.py
  backend/core/units/registry.py
  backend/ssot/units.yaml
  backend/tests/integration/test_orchestrator_unmapped_quarantine.py
  backend/tests/integration/test_venous_aliases_orchestrator_integration.py
  backend/tests/unit/test_golden_panel_runner.py
  backend/tests/unit/test_hba1c_governance.py
  backend/tests/unit/test_layer3_insight_assembler.py
  backend/tests/unit/test_llm_integration.py
  backend/tests/unit/test_orchestrator_lifestyle_integration.py
  backend/tests/unit/test_orchestrator_unit_normalisation.py
  backend/tests/unit/test_production_explainability_pipeline.py
  backend/tests/unit/test_system_burden_capacity_engine.py
  backend/tests/unit/test_unit_registry.py
  backend/tools/run_golden_panel.py
Due: test-first-enforcement, test-ledger-update, run-affected-tests

chore(bus): BE-W2-RQ1 Wave 2 results contract prompt and hardening
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
Due: none

docs(testing): UAT1 living tracker update
  docs/testing/UAT1/UAT1_findings.md
Due: none

feat(BE-W2-RQ1): consumer results copy, hero cleanup, evidence summary
  backend/core/analytics/report_compiler_v1.py
  backend/tests/fixtures/reports/clinician_report_v1_ab.json
  backend/tests/fixtures/reports/clinician_report_v1_vr.json
  backend/tests/unit/test_clinician_report_runtime_alignment.py
  frontend/app/(app)/results/page.tsx
  frontend/app/components/clusters/ClusterSummary.tsx
  frontend/app/components/insights/InsightPanel.tsx
  frontend/app/components/results/ClinicianReportRenderer.tsx
  frontend/app/components/results/RootCauseEvidenceSummary.tsx
  frontend/tests/components/ClinicianReportRenderer.test.tsx
Due: test-first-enforcement, test-ledger-update, run-affected-tests

Path conditions:
  test-first-enforcement: any of: \.(py|ts|tsx)$, but not: ^(tests/|.*\.test\.(py|ts|tsx)|.*\.spec\.(py|ts|tsx))$
  test-ledger-update: any of: \.(py|ts|tsx)$, but not: ^(tests/|.*\.test\.(py|ts|tsx)|.*\.spec\.(py|ts|tsx))$
  run-affected-tests: any of: \.(py|ts|tsx)$
