Repository abroad1/HealthIQ-AI-v5: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-first-enforcement, test-ledger-update, run-affected-tests

test-first-enforcement:
  name: Test-First Development Enforcement
  entry: scripts/hooks/test-first-check.sh
  language: script

test-ledger-update:
  name: TEST_LEDGER.md Update Check
  entry: scripts/hooks/test-ledger-check.sh
  language: script

run-affected-tests:
  name: Run Tests for Changed Files
  entry: scripts/hooks/run-affected-tests.sh
  language: script
  pass_filenames: true

docs: D-5 Wave1 runtime diagnosis (snapshot persistence, UAT id)
  docs/investigations/2026-04-26_D5_wave1_runtime_diagnosis.md
Due: none

D-6: Wave1 single-authority cards, driver meta, and governed backfill helpers
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
  backend/core/analytics/domain_narrative_wave1.py
  backend/core/analytics/domain_score_assembler.py
  backend/core/models/results.py
  backend/core/pipeline/orchestrator.py
  backend/scripts/wave1_backfill_consumer_cards.py
  backend/tests/unit/test_domain_score_assembler_v1.py
  backend/tests/unit/test_wave1_backfill_merge.py
  docs/Wave1-codebase-analysis-v2.md
  docs/Wave1-codebase-analysis_v3.md
  frontend/app/(app)/results/page.tsx
  frontend/app/lib/resultsPageLayout.ts
  frontend/app/types/analysis.ts
Due: test-first-enforcement, test-ledger-update, run-affected-tests

D-6 gate: add three targeted audit tests (headline CV, liver tier, fixed analysis id)
  backend/tests/unit/test_domain_narrative_wave1.py
  backend/tests/unit/test_domain_score_assembler_v1.py
  backend/tests/unit/test_wave1_backfill_merge.py
Due: test-first-enforcement, test-ledger-update, run-affected-tests

D-7: Wave1 liver consequence coherence and confidence-marker UI labels
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
  backend/core/analytics/domain_narrative_wave1.py
  backend/core/analytics/domain_score_assembler.py
  backend/tests/unit/test_wave1_liver_d7.py
  frontend/app/components/results/Wave1DomainCards.tsx
  frontend/app/lib/wave1ConfidenceMarkerLabels.ts
  frontend/tests/components/Wave1DomainCards.test.tsx
Due: test-first-enforcement, test-ledger-update, run-affected-tests

fix(liver): GGT trace alias, bilirubin venous alias, Wave1 missing-marker coherence
  backend/core/analytics/domain_score_assembler.py
  backend/ssot/biomarker_alias_registry.yaml
  backend/tests/unit/test_wave1_liver_marker_mapping_fix.py
Due: test-first-enforcement, test-ledger-update, run-affected-tests

docs: questionnaire UX redesign background; refresh Q-1 bus prompt artifacts
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
  docs/QUESTIONNAIRE_UX_REDESIGN_BACKGROUND.md
Due: none

feat(frontend): redesign questionnaire as guided section-by-section flow (Q-1)
  frontend/app/components/forms/QuestionnaireForm.tsx
Due: test-first-enforcement, test-ledger-update, run-affected-tests

docs(automation-bus): Q-2 questionnaire visual redesign work package
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
  docs/QUESTIONNAIRE_VISUAL_REDESIGN_Q2_BACKGROUND.md
Due: none

feat(frontend): Q-2 questionnaire premium visual layer (intent, shell, pills, upload framing)
  frontend/app/(app)/upload/page.tsx
  frontend/app/components/forms/QuestionnaireForm.tsx
Due: test-first-enforcement, test-ledger-update, run-affected-tests

chore(frontend): isolate questionnaire UX changes (recovery from main)
  frontend/app/(app)/upload/page.tsx
  frontend/app/components/forms/QuestionnaireForm.tsx
Due: test-first-enforcement, test-ledger-update, run-affected-tests

feat(sentinel): Phase 1 runner, regression guards, and test wiring
  backend/pyproject.toml
  backend/tests/regression/__init__.py
  backend/tests/regression/test_alias_canonical_sweep.py
  backend/tests/regression/test_bilirubin_alias_regression.py
  backend/tests/regression/test_ggt_alias_regression.py
  backend/tests/regression/test_persisted_result_replay_status.py
  backend/tests/regression/test_slug_leakage_regression.py
  backend/tests/regression/test_wave1_contradiction_status.py
  frontend/jest.config.js
  frontend/tests/regression/slug-leakage-guard.test.ts
  pytest.ini
  sentinel/classifier.py
  sentinel/packs/escaped_defects_v1.json
  sentinel/reports/.gitkeep
  sentinel/sentinel_runner.py
  sentinel/state/.gitkeep
Due: test-first-enforcement, test-ledger-update, run-affected-tests

docs(testing): Sentinel Phase 1 briefs, audits, and operating model
  docs/testing/HealthIQ_AI_Agentic_Testing_Strategy_Background_and_Proposal.md
  docs/testing/HealthIQ_AI_Background_Testing_Operating_Model_v1.md
  docs/testing/HealthIQ_AI_Phase_1_Sentinel_Execution_Brief.md
  docs/testing/automated testing repo-grounded audit,md
  docs/testing/automated-testing-sentinel-repo-audit-report.md
  docs/testing/brief for HealthIQ AI Phase 1 Sentinel.md
  docs/testing/healthiq_sentinel_phase1_implementation_report.md
  docs/testing/healthiq_sentinel_repo_audit_v1.md
Due: none

fix(test): correct repoRoot resolution in slug-leakage guard
  frontend/tests/regression/slug-leakage-guard.test.ts
Due: run-affected-tests

fix(sentinel): pytest result counts via pytest-json-report
  sentinel/sentinel_runner.py
Due: test-first-enforcement, test-ledger-update, run-affected-tests

chore: ignore Sentinel run outputs under sentinel/reports
  .gitignore
Due: none

docs: control-doc consistency pass — path fixes and claim accuracy
  docs/AUTHORITY_MAP.md
  docs/CURRENT_STATE_PACK.md
  docs/README.md
Due: none

docs: add docs/archive/README.md — archive top-level index
  docs/archive/README.md
Due: none

Path conditions:
  test-first-enforcement: any of: \.(py|ts|tsx)$, but not: ^(tests/|.*\.test\.(py|ts|tsx)|.*\.spec\.(py|ts|tsx))$
  test-ledger-update: any of: \.(py|ts|tsx)$, but not: ^(tests/|.*\.test\.(py|ts|tsx)|.*\.spec\.(py|ts|tsx))$
  run-affected-tests: any of: \.(py|ts|tsx)$
