Repository abroad1/HealthIQ-AI-v5: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-first-enforcement, test-ledger-update, run-affected-tests

.pre-commit-config.yaml:

# Pre-commit hooks for HealthIQ AI v5
# Install with: pip install pre-commit && pre-commit install

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json

  # Python hooks
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        files: \.py$
        language_version: python3.11

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.284
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        additional_dependencies: [types-all]
        files: backend/.*\.py$

  # Node.js hooks
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.47.0
    hooks:
      - id: eslint
        files: frontend/.*\.(ts|tsx|js|jsx)$
        additional_dependencies:
          - eslint@8.47.0
          - "@typescript-eslint/eslint-plugin@6.4.0"
          - "@typescript-eslint/parser@6.4.0"

  # Test-first enforcement hooks
  - repo: local
    hooks:
      - id: test-first-enforcement
        name: Test-First Development Enforcement
        entry: scripts/hooks/test-first-check.sh
        language: script
        files: \.(py|ts|tsx)$
        exclude: ^(tests/|.*\.test\.(py|ts|tsx)|.*\.spec\.(py|ts|tsx))$

      - id: test-ledger-update
        name: TEST_LEDGER.md Update Check
        entry: scripts/hooks/test-ledger-check.sh
        language: script
        files: \.(py|ts|tsx)$
        exclude: ^(tests/|.*\.test\.(py|ts|tsx)|.*\.spec\.(py|ts|tsx))$

      - id: run-affected-tests
        name: Run Tests for Changed Files
        entry: scripts/hooks/run-affected-tests.sh
        language: script
        files: \.(py|ts|tsx)$
        pass_filenames: true

docs(clin-priority): record independent post-finish audit
  docs/architecture/CLIN-PRIORITY-CORE-1_POST_FINISH_audit.md
Due: none

docs(clin-priority): mark CLIN-PRIORITY-CORE-1 merged in BDR
  docs/sprints/beta_readiness/BUILD_DELIVERABLE_REGISTER.md
Due: none

chore(bus): CLIN-PRIORITY-RESULT-REGEN-1 prompt, hardening, and audit paper
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
  docs/audit-papers/CLIN-PRIORITY_RESULT_REGENERATION_AUDIT.md
Due: none

feat(CLIN-PRIORITY-RESULT-REGEN-1): analysis-policy version, result_date, trend supersession
  automation_bus/latest_cursor_status.json
  backend/app/analysis_regeneration.py
  backend/app/routes/analysis.py
  backend/core/dto/analysis_policy_version_v1.py
  backend/core/dto/result_versioning_policy_v1.py
  backend/core/dto/trend_selection_v1.py
  backend/core/models/database.py
  backend/migrations/versions/clin_priority_result_regen_1.py
  backend/services/storage/persistence_service.py
  backend/tests/unit/test_clin_priority_result_regen_1.py
  backend/tests/unit/test_launch_core3_result_versioning.py
  docs/sprints/beta_readiness/CLIN-PRIORITY-RESULT-REGEN-1_implementation_verification.md
  frontend/app/hooks/useTrendData.ts
  frontend/app/lib/trendComparison.ts
  frontend/app/services/analysis.ts
  frontend/app/types/analysis.ts
Due: test-first-enforcement, test-ledger-update, run-affected-tests

chore(bus): CLIN-PRIORITY-RESULT-REGEN-1 kernel COMPLETE status
  automation_bus/latest_cursor_status.json
Due: none

test(history): cover empty and failed history loading
  backend/tests/unit/test_uat_history_regression.py
  frontend/tests/hooks/dashboard-history-authority.test.ts
Due: test-first-enforcement, test-ledger-update, run-affected-tests

fix(history): surface analysis-history load failures
  backend/services/storage/persistence_service.py
Due: test-first-enforcement, test-ledger-update, run-affected-tests

fix(results): use concern set as headline authority
  frontend/app/(app)/results/page.tsx
  frontend/app/components/results/DeterministicNarrativeSurface.tsx
  frontend/app/components/results/PrimaryFindingAndWhy.tsx
  frontend/app/lib/clinicalConcernPresentationAuthority.ts
Due: test-first-enforcement, test-ledger-update, run-affected-tests

test(results): cover conflicting legacy lead output
  frontend/tests/lib/clinicalConcernPresentationAuthority.test.ts
Due: run-affected-tests

docs(audit): main-system/subsystem completion audit + prior sequencing docs
  docs/audit-papers/HEALTHIQ_MAIN_SYSTEM_SUBSYSTEM_COMPLETION_AUDIT.md
  docs/audit-papers/POST_CLIN_PRIORITY_PROGRAMME_SEQUENCING_AUDIT.md
  docs/audit-papers/UAT_RESULTS_PAGE_PRESENTATION_INVESTIGATION_1ce310e1.md
Due: none

docs: reconcile beta readiness state and resurface residual wave plan
  docs/architecture/HEALTHIQ_AI_CURRENT_STATE_BASELINE_2026-07-25.md
  docs/planning-papers/ARCH-CONV-A_wave_plan_resurfacing_note.md
  docs/sprints/beta_readiness/BUILD_DELIVERABLE_REGISTER.md
  docs/sprints/healthiq_day_one_architecture_rework_sprint_plan_FINAL_updated.md
  docs/strategy/beta_readiness/HEALTHIQ_AI_BETA_READINESS_DEFINITIVE_STRATEGY_FINAL_2026-06-20.md
Due: none

docs: add fix/uat-alt-prioritisation closure evidence
  docs/sprints/beta_readiness/fix_uat_alt_prioritisation_closure_evidence.md
Due: none

chore(bus): THYROID-FT3-TSH-FIRING-FIX-1 prompt and hardening record
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
Due: none

fix(thyroid): restore FT3-high fire when FT4 absent under normality gate
  backend/core/analytics/signal_evaluator.py
  backend/tests/unit/test_p1_22_thyroid_activation_pack.py
  backend/tests/unit/test_signal_evaluator.py
  docs/sprints/beta_readiness/BUILD_DELIVERABLE_REGISTER.md
  docs/sprints/beta_readiness/THYROID-FT3-TSH-FIRING-FIX-1_implementation_verification.md
Due: test-first-enforcement, test-ledger-update, run-affected-tests

chore(bus): THYROID-FT3-TSH-FIRING-FIX-1 kernel IN_PROGRESS status
  automation_bus/latest_cursor_status.json
Due: none

chore(bus): THYROID-FT3-TSH-FIRING-FIX-1 kernel COMPLETE status
  automation_bus/latest_cursor_status.json
Due: none

chore(bus): V5-RUNTIME-AUTHORITY-INTEGRITY-1 prompt and hardening record
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
Due: none

docs(audit): add V5/V6 reassessment and ARCH-CONV-A residual reality reconciliation
  docs/audit-papers/ARCH-CONV-A_RESIDUAL_PROGRAMME_REPOSITORY_REALITY_RECONCILIATION.md
  docs/audit-papers/HEALTHIQ_V5_VS_V6_STRATEGIC_REASSESSMENT.md
Due: none

fix(authority): enforce runtime medical activation integrity
  backend/core/knowledge/runtime_medical_authority_integrity_v1.py
  backend/scripts/validate_day_one_architecture.py
  backend/scripts/validate_runtime_medical_authority_integrity.py
  backend/tests/architecture/test_runtime_medical_authority_integrity.py
  docs/architecture/V5_RUNTIME_ACTIVATION_CANONICAL_GATE_TRANSITION.md
  docs/architecture/V5_RUNTIME_AUTHORITY_INTEGRITY_prechange_evidence.md
  docs/architecture/V5_RUNTIME_AUTHORITY_same_class_sweep.md
  knowledge_bus/governance/package_runtime_activation_register_v1.yaml
Due: test-first-enforcement, test-ledger-update, run-affected-tests

chore(bus): V5-RUNTIME-AUTHORITY-INTEGRITY-1 kernel IN_PROGRESS status
  automation_bus/latest_cursor_status.json
Due: none

test(phenotypes): align early-IR expectations with Wave 2 lipid prohibitions
  backend/tests/fixtures/panels/phenotypes/phenotype_expectations_v1.yaml
Due: none

chore(bus): V5-RUNTIME-AUTHORITY-INTEGRITY-1 kernel COMPLETE status
  automation_bus/latest_cursor_status.json
Due: none

chore(bus): V5-CANONICAL-ACTIVATION-GATE-1 prompt and hardening record
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
Due: none

chore(bus): V5-CANONICAL-ACTIVATION-GATE-1 kernel IN_PROGRESS status
  automation_bus/latest_cursor_status.json
Due: none

refactor(authority): canonicalise non-launch runtime activation grant
  backend/core/analytics/signal_evaluator.py
  backend/core/knowledge/activation_register_mutation_v1.py
  backend/core/knowledge/canonical_runtime_activation_gate_v1.py
  backend/core/knowledge/package_runtime_eligibility_v1.py
  backend/scripts/mutate_runtime_activation_register.py
  backend/scripts/validate_day_one_architecture.py
  backend/tests/architecture/test_canonical_runtime_activation_gate.py
  backend/tests/unit/test_arch_conv_e_runtime_activation_boundary.py
  docs/architecture/V5_CANONICAL_ACTIVATION_GATE_prechange_map.md
  docs/architecture/V5_RUNTIME_ACTIVATION_CANONICAL_GATE_TRANSITION.md
Due: test-first-enforcement, test-ledger-update, run-affected-tests

chore(bus): V5-CANONICAL-ACTIVATION-GATE-1 kernel COMPLETE status
  automation_bus/latest_cursor_status.json
Due: none

chore(bus): V5-CANONICAL-ACTIVATION-GATE-2 prompt and hardening record
  automation_bus/latest_cursor_prompt.md
  automation_bus/latest_prompt_hardening.json
Due: none

refactor(authority): fold launch-critical activation into canonical register
  backend/core/analytics/signal_evaluator.py
  backend/core/knowledge/activation_register_mutation_v1.py
  backend/core/knowledge/canonical_runtime_activation_gate_v1.py
  backend/core/knowledge/package_activation_register_v1.py
  backend/core/knowledge/package_runtime_eligibility_v1.py
  backend/scripts/validate_day_one_architecture.py
  backend/tests/architecture/test_canonical_runtime_activation_gate.py
  backend/tests/architecture/test_canonical_runtime_activation_gate_stage2.py
  backend/tests/unit/test_arch_conv_e_runtime_activation_boundary.py
  docs/architecture/V5_CANONICAL_ACTIVATION_GATE_STAGE2_prechange_inventory.md
  docs/architecture/V5_RUNTIME_ACTIVATION_CANONICAL_GATE_TRANSITION.md
  knowledge_bus/governance/package_runtime_activation_register_v1.yaml
Due: test-first-enforcement, test-ledger-update, run-affected-tests

chore(bus): V5-CANONICAL-ACTIVATION-GATE-2 kernel IN_PROGRESS status
  automation_bus/latest_cursor_status.json
Due: none

fix(gate): align launch-critical opt-in reachability with Stage 2 register requirement
  backend/scripts/validate_launch_critical_provenance_reachability_gate.py
Due: test-first-enforcement, test-ledger-update, run-affected-tests

chore(bus): V5-CANONICAL-ACTIVATION-GATE-2 kernel COMPLETE status
  automation_bus/latest_cursor_status.json
Due: none
